html {
  scroll-behavior: smooth;
}

body {
  padding-right: 0 !important;
  position: relative;
}

#preloader {
  background: black url(./resources/loop.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

#background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.9);
  filter: blur(0.3px);
}

nav {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 5px #2e2d2d;
  color: white;
  text-shadow: 0 0 3px lightgray;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.fa-volume-high {
  transform: scale(1.3);
}

.fa-slash {
  animation: fadeIn 0.5s linear 0s 1 normal;
}

.dropdown-menu-dark {
  --bs-dropdown-bg: rgba(0, 0, 0, 0.8) !important;
  --bs-dropdown-width: 10px !important;
  --bs-dropdown-link-hover-bg: rgba(0, 0, 0, 0) !important;
  --bs-dropdown-link-active-bg: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu {
  text-align: center !important;
  --bs-dropdown-spacer: 15px !important;
  box-shadow: 0 0 4px lightgray;
  min-width: 60px !important;
  animation: fadeIn 0.5s linear 0s 1 normal;
}

.dropdown-item {
  margin-bottom: 10px;
}

#main-section {
  width: 100%;
  height: 100vh;
}

#quote-box {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 30px;
  box-shadow: 0 0 5px gray;
  width: 35%;

  @media (max-width: 1400px) {
    min-width: 50% !important;
  }

  @media (max-width: 1200px) {
    min-width: 60% !important;
  }

  @media (max-width: 992px) {
    min-width: 70% !important;
  }

  @media (max-width: 768px) {
    min-width: 80% !important;
  }

  @media (max-width: 576px) {
    min-width: 90% !important;
  }

  #quote-para {
    text-align: justify;
    font-style: italic;
  }

  #tweet-btn {
    margin-bottom: 10px;

    a {
      background-color: #1d9bf0;
      color: white;
      text-decoration: none;
      font-family: Arial;
      font-size: 14px;
      padding: 6px 12px 6px 12px;
      border-radius: 20px;

    }
  }

  .form-check-input:checked {
    background-color: #ffa600 !important;
  }

}

#info-section {
  height: 100vh;

  h2,
  p {
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
  }

  .info-child {
    z-index: 0;

    #media {

      .contact-btn {
        text-decoration: none !important;

        div {
          text-align: center;
          background-color: black;
          padding: 8px 2px 8px 2px;
          margin: auto 8px auto 8px;
          border-radius: 8px;
          animation: scaleDown 0.3s linear 0s 1 normal;
        }

        div:hover {
          animation: scaleUp 0.3s linear 0s 1 normal;
          animation-fill-mode: forwards; //makes the element stay big
        }
      }
    }
  }

  .panel-group {
    position: absolute;
    bottom: 0;

    a {
      color: gold;
      text-decoration: none;
      text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    .panel-body {
      display: flex;
      flex-flow: column wrap !important;
      padding: 5px;

      a:hover {
        color: goldenrod !important;
      }

      p {
        text-shadow: none;
        margin-top: 0px;
        margin-bottom: 0px;
        text-shadow: 0 0 5px rgb(0, 0, 0);
        text-align: left;
      }
    }
  }

  .panel-title {
    text-align: center;
    text-shadow: 0 0 5px rgb(0, 0, 0);

    a:hover {
      color: goldenrod !important;
    }
  }
}

.parent::before {
  content: "";
  background: #dee2b8 url("./resources/zen-wallpaper.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-filter: blur(0.5px) brightness(50%) sepia(0.2) saturate(200%);
  filter: blur(0.5px) brightness(50%) sepia(0.2) saturate(200%);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quoteBoxAnim {
  animation: quoteAnim 2s ease-in-out 0s 1 normal;
}

.fadeOutAnim {
  animation: fadeOut 1s linear 0s 1 normal;
}

.boxShadowAnim {
  animation: boxShadow 1s linear 0s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes quoteAnim {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-100px);
    opacity: 0;
  }

  51% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 0.65);
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 15px;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
    box-shadow: 0 0 5px gold;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.2);
    box-shadow: 0 0 5px gold;
  }

  100% {
    transform: scale(1);
  }
}